<article class="container__side-card {{class}}">
    <h2>{{title}}</h2>
    <ul class="{{class}}">
        <li><a href="" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" width="32" height="32" alt="LinkedIn"></a></li>
        <li><a href="" target="_blank"></a><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width="32" height="32" alt="GitHub"></li>
        <li><a href="" target="_blank"></a><img src="https://cdn-icons-png.flaticon.com/512/3670/3670274.png" width="32" height="32" alt="Instagram"></li>
    </ul>
    <a class="bnt" href="{{link}}" target="_blank">{{button}}</a>
</article>
