<div class="container__big-card">
    <div class="big-card__img">
        <img src="https://source.unsplash.com/random/?Design" alt="">
    </div>
    <div class="big-card__title">
        <h1><a href="">Title title</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, doloremque et? Aut quas cum
                incidunt ducimus
                dicta quis enim veritatis quidem inventore? Debitis amet nam quisquam atque placeat, nisi impedit!
            </a>
        </p>
    </div>
</div>