@media(max-width:850px) {
    .container__big-card {
        flex-direction: column-reverse;
    }
}

@media(max-width:600px) {
    .container__big-card {
        padding: 10px;
    }

    .container__big-card img {
        min-width: 280px;
    }
}