@media(max-width:870px) {
    .container__big-card {
        flex-direction: column-reverse;
    }
}

@media(max-width:600px) {
    .container__big-card {
        padding: 10px;
    }

    .container__big-card img {
        min-width: 260px;
    }
    .big-card__title h2 {
        font-size: 1.5rem;
    }
    .container__big-card p {
        font-size: 1rem;
    }
}