<a class="container__big-card" [routerLink]="['content', id]">
    <article class="big-card__content">
        <div class="big-card__title">
            <h2><a [routerLink]="['content', id]">{{ cardTitle }}</a></h2>
        </div>
        <div class="big-card__description">
            <p>
                {{ cardDescription }}
            </p>
        </div>
        <span>
            Ver projeto
        </span>
    </article>

    <div class="big-card__img">
        <img src="{{ photoCover }}" width="200" height="100" alt="Projeto {{cardTitle}}">
    </div>
</a>