.container__menu-title {
    margin: 2rem auto;
}

.container__menu-title h2 {
    font: 400 2.2rem/1.25 "kavoon", sans-serif;
}

@media (max-width:600px) {
    .container__menu-title h2 {
        font-size: 1.8rem;
    }
}