.container__content {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 50vw;
    margin-left: 1rem;
    align-self: flex-start;
}

.content__cover > img{
    width: 50vw;
    border-radius: 5px;
}

.content__description {
    margin-top: 15px;
}

.content__description p {
    color: #3E3E3E;;
}

.content__button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.content__button button {
    border-radius: 20px;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    background-color: #3E3E3E;
    background-color: transparent;
    transition: 2s;
}

.content__button button:hover {
    background-color: #3E3E3E;
}

.content__title a {
    border: 1px solid #3e3e3eab;
    background-color: transparent;
    border-radius: 10px;
    padding: .25rem;
    transition: 1s;
}
.content__title a:hover {
    border: 1px solid #3e3e3eab;
    background-color: #3E3E3E;
    border-radius: 10px;
    padding: .25rem;
}

.content__title h1 {
    margin-top: 1rem;
}