<!-- projeto destaque -->
<section class="container container__articles" aria-label="Projeto em destaque">
    <app-big-card id="{{id}}" photoCover="{{photoCover}}" cardTitle="{{cardTitle}}"
        cardDescription="{{ cardDescription }}"></app-big-card>

    <div class="container__articles_column">
        <app-side-card title="Siga nas redes" link="https://portfolio-brenda-a-s.web.app/" button="Meu Portfólio"
            class="redes"></app-side-card>
        <app-side-card title="Contate-me" link="https://wa.me/+5511949587370" button="WhatsApp"
            class="center"></app-side-card>
    </div>
</section>

<!-- projetos -->
<section aria-label="Projetos" id="projetos" class="container">
    <div>
        <app-small-title title="Meus projetos"></app-small-title>
    </div>
    <ul class="container__articles-b">
        <li *ngFor="let project of projects">
            <app-small-card id="{{project.id}}" photoCover="{{project.photo}}"
                cardTitle="{{project.title}}"></app-small-card>
        </li>
    </ul>
</section>

<div class="container__articles container">
    <!-- artigos -->
    <section aria-label="Meus artigos na dio" id="artigos">
        <div>
            <app-small-title title="Artigos"></app-small-title>
        </div>

        <ul class="container__articles_column">
            <li class="article" *ngFor="let article of articles">
                <app-small-card id="{{article.id}}" photoCover="{{article.photo}}"
                    cardTitle="{{article.title}}"></app-small-card>
            </li>
        </ul>
    </section>
</div>