<div class="header">
    <app-menu-title title="EM REWORK"></app-menu-title>
</div>

<div class="container__articles">
    <!-- projeto destaque -->
    <div class="articles__main">
        <app-big-card id="{{id}}"
        photoCover="{{photoCover}}"
        cardTitle="{{cardTitle}}"
        cardDescription="{{ cardDescription }}"></app-big-card>
    </div>
    <!-- projetos -->
    <ul>
        <li class="articles__others" *ngFor="let project of projects">
            <app-small-card id="{{project.id}}"
            photoCover="{{project.photo}}"
            cardTitle="{{project.title}}"></app-small-card>
        </li>
    </ul>
</div>

<div class="header ligth">
    <app-small-title [ngClass]="ligth" title="Meus artigos na dio"></app-small-title>
</div>

<!-- artigos -->
<div class="container__articles ligth">
    <div class="article" *ngFor="let article of articles">
        <app-small-card [ngClass]="ligth" 
        id="{{article.id}}" 
        photoCover="{{article.photo}}"            
        cardTitle="{{article.title}}"></app-small-card>
    </div>
</div>

<!-- posts -->
<div class="container__articles ligth">
    <div class="article" *ngFor="let post of posts">
        <app-small-card [ngClass]="ligth" 
        id="{{post.id}}" 
        photoCover="{{post.photo}}"            
        cardTitle="{{post.title}}"></app-small-card>
    </div>
</div>
<div [ngClass]="ligth">
    <br>
    <br>
</div>
