<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
        Id="1"
        photoCover="https://source.unsplash.com/random/?Design"
        cardTitle="Design Title"
        cardDescription="New description"
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        Id="2"
        photoCover="https://source.unsplash.com/random/?Designer"
        cardTitle="Designer Title"
        ></app-small-card>
        <app-small-card
        Id="2"
        photoCover="https://source.unsplash.com/random/?Designer"
        cardTitle="Designer Title"
        ></app-small-card>
        <app-small-card
        Id="2"
        photoCover="https://source.unsplash.com/random/?Designer"
        cardTitle="Designer Title"
        ></app-small-card>
    </div>
</div>
