#projetos {
    margin-top: 60px;
    border-top: 1px solid var(--cor-2);
    background: url(../../../assets/detalhe-l.svg) no-repeat top left;
    padding: 80px 0 40px 40px;
}

#projetos div {
    margin-top: 35px;
    margin-left: 40px;
    width: max-content;
}

#artigos div {
    margin-left: 100px;
}

#artigos {
    border-radius: 20px;
    margin-bottom: 20px;
}

@media(max-width:870px) {
    #projetos {
        margin-top: 40px;
        padding: 80px 0 20px 20px;
    }
}

@media(max-width:600px) {
    #projetos {
        margin-top: 20px;
    }
}