.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 48px;
    flex-wrap: wrap;
    gap: 32px;
}

.header img {
    background-color: var(--cor-0);
    padding: 16px;
    border-radius: 20px;
}

.header-menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.header-menu ul li {
    list-style: none;
}

.header-menu ul li a {
    padding: 12px 16px;
    border: 1px solid #fff;
    background-color: var(--cor-0);
    border-radius: 50px;
    white-space: nowrap;
}

.header-menu ul li:hover a {
    border-color: var(--cor-2);
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 28px;
    }

    .header-menu ul {
        gap: 12px;
    }
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0px;
    }

    .header img {
        margin-top: 6px;
    }

    .header-menu ul {
        gap: 8px;
    }

    .header-menu ul li a {
        border-color: var(--cor-2);
    }
}